#brand-info {
  align-items: center;
}

#brand-logo {
  display: inline;
}

#brand-name {
  display: inline;
}

.contact-logo {
  height: 45px;
  margin: 2px;
  padding: 1px;
  align-content: last baseline;
}
#intro {
  text-align: left;
  padding: 2rem;
  margin: 1rem;
}

#intro-para {
  text-align: left;
  font-size: 25px;
}

#intro-heading {
  font-weight: bold;
  text-align: left;
}

#navigatoion-bar {
  background-color: #e5d9f2;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

#profile-img {
  float: right;
}

#nav-brand {
  font-size: 22px;
  font-weight: bold;
}

#navbarTogglerDemo01 {
  font-size: 20px;
  font-weight: bold;
}

#Portfolio-btn:hover {
  background: #e88c84;
  text-decoration: none;
}

#Portfolio-btn {
  margin: 0 auto auto 0;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background-color: #ec685a;
  background: #ec685a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: left;
}

#study-img {
  float: left;
}

#body {
  background-color: #e5d9f2;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2466a8;
}

.hrtitle {
  font-weight: bold;
  text-align: left;
}

.h2 {
  font-weight: bold;
  text-align: left;
}

.sect-pd {
  text-align: left;
  padding: 2rem;
  margin: 1rem;
}

#hr-text {
  font-weight: bold;
  text-align: left;
}
#hrline {
  margin: 1rem 0rem;
  border: none;
  border-top: 5px solid #ec685a;
  opacity: 0.8;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
